.wrapper{
    background: #F5F7FF !important;
}
.card-main{
    border: 1px solid #E6E6E6;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.01);
    border-radius: 4px;
    background: #FFFFFF;
}
.card-main .card-header:first-child{
    border-radius: 10px 10px 0 0;
}

@media(max-width: 576px){
    .card-main .card-header:first-child h5{
        font-size: 16px;
    }
    .card-main .card-header:first-child a{
        font-size: 12px;
    }
}