.dashboard .card {
    box-shadow: 0px 2px 10px rgba(25, 42, 62, 0.08);
    border-radius: 12px;
}
.dashboard .data-chart{
    flex-direction: row;
}
.dashboard .card-stats .card-body{
    padding: 20px 32px;
}
.dashboard .card-stats img.card-icon {
    width: 44px;
    height: 44px;
    position: absolute;
    top: -28px;
    left: -24px;
}
.dashboard .card-stats .indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.dashboard .card-stats .indicator.indicator-success {
    background: #3dc98e;
}
h3{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
.time{
    justify-content: center;
    align-items: center;
    background-color: #F0F2F4;
    border-radius: 12px;
    height: 48px;
}
.nav-link:hover{
    background-color: #E43631;
    color: #fff !important;
    border-radius: 10px;
}
.nav-pills .nav-link.active{
    background-color: #E43631;
    color: #fff;
    border-radius: 10px;
}
.tab-content .tab-pane .doughnut{
    width: 300px;
}
@media(max-width: 576px){
    .dashboard .data-chart{
        flex-direction: column;
    }
    .dashboard .card-stats .card-body{
        padding: 16px 24px;
    }
    .dashboard .pesan{
        flex-direction: column;
    }
}