
:root{
    --red-color: #E43631;
}

*{
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}

.bg-transparent{
    transition: all ease-in 0.3s;
}

.header-color{
    background-color: whitesmoke;
    transition: all ease-in-out 0.5s;
}

.btn-tambah{
    height: 45px;
    width: 200px;
}

.btn-tambah a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
}

.btn-aktif{
    height: 35px;
    width: 150px;
    padding: 5px;
}

.card .card-body .table .text-aktif{
    color: #5CB85C;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-nonaktif{
    height: 35px;
    width: 150px;
    padding: 5px;
}

.card .card-body .table .text-nonaktif{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-detail{
    height: 35px;
    width: 150px;
    padding: 5px;
}

.card .card-body .table .detail{
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--red-color);
    list-style: none;
}

.form-control{
    width: 80% !important;
}

th, td{
    font-size: 14px;
}

h6{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}